@import "./App.scss";

#about {
    background: #F4F4F4;
    padding: 110px 130px;
    .container-fluid {
        .col-xl-2 {
            margin: auto;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            .about-img {
                margin: auto 0 auto -25px;
                height: 15.5em;
                width: 15.5em;
                border-radius: 50%;
                background: $ocean;
                box-shadow: 0 3px 10px lighten($ocean, 10%), 0 3px 10px lighten($ocean, 5%);
                padding: 8px;
                transition: all .25s ease-in-out;
                -webkit-transition: all .25s ease-in-out;
            }
        }
        .col-xl-9 {
            text-align: left;
        }
        .row:hover .about-img {
            -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
            background: $mint;
            background-position: 100px;
            box-shadow: 0 3px 10px lighten($mint, 10%), 0 3px 10px lighten($mint, 5%);
        }
    }
    #satellite {
        float: right;
        right: 10px;
        top: 50px;
        width: 100px;
        animation: bobble 2.5s infinite ease-in-out;
        -webkit-animation: bobble 2.5s infinite ease-in-out;

    }
    @media only screen and (max-width: 1250px) {
        padding: 60px 5px;
        .about-img {
            margin-left: 0 !important;
        }
        #satellite {
            width: 85px;
            top: 0px;
        }
    }
    @media only screen and (max-width: 1140px) {
        .about-img {
            margin-bottom: 2.5em !important;
        }
    }
    @keyframes bobble {
        0% {
            transform: translateY(0px);
            animation-timing-function: ease-in;
        }
        50% {
            transform: translateY(12px);
            animation-timing-function: ease-out;
        }
        100% {
            transform: translateY(0px);
        }
    }
    @-webkit-keyframes bobble {
        0% {
            -webkit-transform: translateY(0px);
            -webkit-animation-timing-function: ease-in;
        }
        50% {
            -webkit-transform: translateY(12px);
            -webkit-animation-timing-function: ease-out;
        }
        100% {
            -webkit-transform: translateY(0px);
        }
    }
}
