// Global Colors
$dark: #233143;
$darker: #090A0F;
$black: #000;
$ionic: #4E8DF7;
$mars: #C25447;
$mint: #34B3A0;
$moon: #E6E6E6;
$shadow: #474A6B;
$success: #00B300;
$warning: #E0A903;

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
